/# This is the program to reverse the arr.py
/Baisc list.py
/deloitte code.py
/Double equal to.py
/Everyday_Learning
/Generator function.py
/Harshit.py
/Insert duplicate of K adjacent to it for it’s every occurrence in array.py
/Insert duplicate of K.py
/Largest element in array using max.py
/Linkened.txt
/nth largest element
/OOPS.py
/Prime number.py
/Remove All Occurrences of an Element in an Array.py
/reversing the array.py
/rotating the array.py
/sample.py
/slicing.py
/split and int
/Strings.py
/strip function.py